.top {
    padding: 1rem;
    margin-bottom: 2rem;
}

.top h1 {
    position: relative;

    margin-top: 5rem;
    margin-bottom: 10rem;

    font-size: 2.3em;
    color: var(--acc-color-2);
    font-weight: 600;
    text-align: left;
    line-height: 1.25;
}

.projects_container {
    padding: 1rem;

    background-color: var(--bg-color-alt);
}

.projects_container h3 {
    color: var(--font-color);
    font-weight: 600;
}