/* Card of the Home Component (smaller) (and of the base style) */
.project {
    width: clamp(300px, 95%, 350px);

    scroll-margin-top: 50px;

    border-radius: 15px;
    padding: .5rem;
    margin-inline: auto;

    box-shadow: 4px 0px 5px hsla(0, 0%, 0%, 0.250), 0px 4px 5px hsla(0, 0%, 0%, 0.250),  
    -4px 0px 5px hsla(0, 0%, 0%, 0.250),  0px -4px 5px hsla(0, 0%, 0%, 0.250);

    background-color: hsl(0, 0%, 5%);

    transition: 0.3s;
}
.project:hover {
    transform: scale(1.05);
}
.project:not(:nth-child(1)) {margin-top: 1.5rem;}

.project img {
    width: calc(100%);
    aspect-ratio: 16 / 9;

    margin-bottom: .7rem;
    border-radius: 15px;
}

.project h3 {
    margin-bottom: .5rem;

    font-size: 1.3em;
    color: var(--acc-color-2);
}

.project hr {
    margin-top: -.5rem;
    margin-bottom: .7rem;

    height: 1px;

    border-color: var(--acc-color-2);

    background-color: var(--acc-color-2);

    color: var(--acc-color-2);
}

.project:not(.full_card) {
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.project:not(.full_card) .children {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-clamp: 4;

    font-size: .95em;
    line-height: 1.5;
    color: rgb(180, 180, 180);
    text-overflow: ellipsis;
    overflow: hidden;
}

.btn_container {
    width: 100%;

    margin-top: 2.5rem;
    margin-bottom: 1rem;

    text-align: center;

    -webkit-tap-highlight-color: transparent;
}

.btn_container a {
    display: inline-block;

    width: clamp(250px, 70%, 300px);

    padding: .4rem 1rem;
    border: none;
    border-radius: 25px;

    background-color: var(--acc-color-2);

    font-weight: 600;
    color: black;
    font-size: 1.1em;

    transition: .2s;
}
.btn_container a:hover {
    background-color: var(--acc-color-2_hover);
    transform: scale(1.03);
}
.btn_container a:active {
    background-color: var(--acc-color-2_active);
    transform: scale(1);
}

.btn_container a:hover * {
    color: lightgray;
}
.btn_container a:active * {
    color: gray;
}

.btn_container a * {
    color: white;
    font-size: 1.3rem;
}

/* Card of the Projects Component (bigger)*/
.project.full_card {
    width: 100%;
    max-width: 900px;
}
.project.full_card:hover {
    transform: scale(1.02);
}

.project.full_card h2 {
    margin-bottom: .3rem;

    font-size: 1.8em;
    text-decoration: none;
    letter-spacing: 2px;
    font-variant: small-caps;
    color: var(--acc-color-2);
}

.project.full_card h3 {
    margin-top: 1rem;
    margin-bottom: .3rem;
}


/* Media Queries */
@media screen and (min-width: 768px) {
    .project:not(.full_card) {
        margin-block: 0;
    }

    .project.full_card {
        margin-block: 1.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .project:not(.full_card) {
        width: clamp(350px, 45vw, 450px);
    }
}