.container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;

    width: 100%;
}

.start {
    justify-content: flex-start;
}
.center {
    align-items: center;
}

.row {
    flex-direction: row;
}

.marginTop {
    margin-top: 2.5rem;
}