.footer {
    position: relative;
    bottom: 0;
}

.waves {
    position: relative;
    bottom: 0;

    margin-top: 15vh;
}

.footer p {
    padding-inline: 1rem;
    padding-bottom: 1rem;
    margin-top: -1px;

    background-color: var(--acc-color-2);

    text-align: center;
}



/* Media Queries */
@media screen and (min-width: 1024px) {
    .waves {
        margin-top: 30vw;
    }
}
