.btn_container {
    text-align: center;
}

.btn {
    padding-inline: 1.5rem;
    border: none;
    border-radius: 25px;

    background-color: var(--acc-color-1);

    transition: .2s;
}
.btn:hover {
    background-color: var(--acc-color-1_hover);
    transform: scale(1.03);
}
.btn:active {
    background-color: var(--acc-color-1_active);
    transform: scale(1);
}

.btn > a {
    display: block;

    width: 100%;
    height: 100%;

    padding: .4rem 1rem;
    border-radius: 25px;
}

.btn:hover * {
    color: lightgray;
}
.btn:active * {
    color: gray;
}

.btn * {
    color: white;
    font-size: 1.3em;
}

/* Custom Classes*/

.important {
    margin-top: 6rem;
}

.orange_color .btn {
    background-color: var(--acc-color-2);
}
.orange_color .btn:hover {
    background-color: var(--acc-color-2_hover);
}
.orange_color .btn:active {
    background-color: var(--acc-color-2_active);
}