.gridContainer {
    display: grid;
    grid-template-areas: "navbar";
    grid-template-columns: 1fr;
}

.navbar {
    grid-area: navbar;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    z-index: 100;
    position: relative;
    top: 0;
    left: 0;

    width: 100%;

    padding: 1rem;

    background-color: inherit;
}

.navbar .logo {
    user-select: none;
    -webkit-user-select: none;
}

.navbar .logo img {
    position: relative;

    height: 3.2rem;

    border-radius: 50%;
}

.navbar label svg {
    cursor: pointer;

    font-size: 3.5rem;
    color: var(--acc-color-2);
}

.navbar ul {
    display: none;
    flex-direction: column;
    align-items: flex-end;

    position: fixed;
    top: 0;
    left: 0;

    width: calc(100% + 2rem);

    margin-inline: -1rem;
    margin-top: 2rem;
    padding: 1rem;

    background-color: inherit;

    list-style: none;

    z-index: 10; 
}
.navbar ul li {
    margin-bottom: .7rem;
    padding: .3rem;

    text-align: end;
}
.navbar ul li * {

    font-size: 2em;
    color: #fff;
}
.navbar ul li:last-child {
    border-radius: 15px;

    background-color: var(--acc-color-1);
}

.navbar ul.visible {
    display: flex;

    position: relative;

    height: 100vh;
}



/* Media Queries */
@media screen and (min-width: 1024px) {
    .navbar label {
        display: none;
    }

    .navbar ul {
        display: inline-block;

        position: relative;
        right: 0;

        width: fit-content;

        padding: 0;
        margin: 0;
        margin-top: -.1rem;
    }

    .navbar ul li {
        display: inline-block;

        position: relative;

        margin-right: .6rem;
        margin-bottom: 0;

        font-size: .6rem;
    }
    .navbar ul li:not(:last-child)::after {
        content: "";

        position: absolute;
        bottom: 0;
        left: .25rem;
        right: .25rem;

        height: 2px;

        background-color: var(--font-color);

        transform: scaleX(0);
        transition: transform .3s ease-out;
    }
    .navbar ul li:hover::after {
        transform: scaleX(1);
    }

    .navbar ul li:last-child {
        transition: transform .3s ease-out;
    }
    .navbar ul li:last-child:hover {
        transform: scale(1.05);
    }

    .navbar ul li a {
        padding: .3rem .5rem;
    }
}