.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    z-index: 100;
    position: relative;
    top: 0;
    left: 0;

    width: 100%;

    padding: 1rem;

    background-color: inherit;
}

.navbar .logo img {
    position: relative;

    user-select: none;
    -webkit-user-select: none;

    height: 50px;

    border-radius: 50%;
}

.navbar label svg {
    cursor: pointer;

    font-size: 3.5em;
    color: var(--acc-color-2);
}

.navbar ul {
    display: none;
    flex-direction: column;
    align-items: flex-end;

    position: fixed;
    top: 0;
    left: 0;

    width: calc(100% + 2rem);

    margin-inline: -1rem;
    margin-top: 2rem;
    padding: 1rem;

    background-color: inherit;

    list-style: none;

    z-index: 10; 
}
.navbar ul li {
    margin-bottom: .7rem;
    padding: .3rem;

    text-align: end;
}
.navbar ul li * {

    font-size: 2em;
    color: #fff;
}
.navbar ul li:last-child {
    border-radius: 15px;

    background-color: var(--acc-color-1);
}

.navbar ul.visible {
    display: flex;

    position: relative;

    height: 100vh;
}

.navbar ul.hidden {
    display: none;
}
