/* Card of the Home Component (smaller) (and of the base style) */
.project {
    width: clamp(300px, 95%, 350px);

    border-radius: 15px;
    padding: .5rem;
    margin-inline: auto;

    box-shadow: 4px 0px 5px hsla(0, 0%, 0%, 0.250), 0px 4px 5px hsla(0, 0%, 0%, 0.250),  
    -4px 0px 5px hsla(0, 0%, 0%, 0.250),  0px -4px 5px hsla(0, 0%, 0%, 0.250);

    background-color: hsl(0, 0%, 5%);

    transition: 0.3s;
}
.project:hover {
    transform: scale(1.05);
}
.project:not(:nth-child(1)) {margin-top: 1.5rem;}

.project img {
    width: calc(100%);
    aspect-ratio: 16 / 9;

    margin-bottom: .7rem;
    border-radius: 15px;
}

.project h3 {
    margin-bottom: .5rem;

    font-size: 1.3em;
    color: var(--acc-color-2);
}

.project hr {
    margin-top: -.5rem;
    margin-bottom: .7rem;

    color: var(--acc-color-2);
}

.project:not(.full_card) .children {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 4;
    -webkit-line-clamp: 4;

    max-height: 30%;

    font-size: .95em;
    line-height: 1.5;
    color: rgb(180, 180, 180);
    text-overflow: ellipsis;
    overflow: hidden;
}

/* Card of the Projects Component (bigger)*/
.project.full_card {
    width: 100%;
}
.project.full_card:hover {
    transform: scale(1.02);
}

.project.full_card h2 {
    margin-bottom: .3rem;

    font-size: 1.8em;
    text-decoration: none;
    letter-spacing: 2px;
    font-variant: small-caps;
}
