.section {
    /* 
    Fixes an issue where scrolling lands the user to the bottom
    of the section. '100vh + 30px' ensures that the user is taken to the top 
    of the section. 
    The additional '50px' is the offset.
    */
    scroll-margin-top: calc((100vh + 30px) + 50px);

    padding: 1rem;
    padding-block: 3.5rem;
}

.section > h2 {
    display: inline-block;

    position: relative;

    margin-bottom: 0.8rem;

    font-size: 2em;
    font-weight: 600;
    color: var(--acc-color-2);
    line-height: 1.2;

}
:global(.section > h2::after) {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;

    height: 3px;
    width: 0;

    background-color: var(--acc-color-2);
    transition: width .5s .7s ease-out;

}
:global(.section > h2.headingAnimation::after) {
    width: 100%;
}

.section p {
    margin-bottom: 1rem;

    line-height: 1.6;
}



/* Media Queries */
@media screen and (min-width: 1024px) {
    .section {
        scroll-margin-top: 50px;
    }
}