.section {
    padding: 1rem;
    padding-block: 3.5rem;
}

.section > h2 {
    margin-bottom: 0.8rem;

    font-size: 2em;
    font-weight: 600;
    text-decoration: underline;
    color: var(--acc-color-2);
    line-height: 1.2;
}

.section p {
    margin-bottom: 1rem;

    font-size: 1.1em;
    line-height: 1.6;
}

