.section {
    scroll-margin-top: calc(100vh + 80px);

    padding: 1rem;
    padding-block: 3.5rem;
}

.section > h2 {
    display: inline-block;

    position: relative;

    margin-bottom: 0.8rem;

    font-size: 2em;
    font-weight: 600;
    color: var(--acc-color-2);
    line-height: 1.2;

}
:global(.section > h2::after) {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;

    height: 3px;
    width: 0;

    background-color: var(--acc-color-2);
    transition: width .5s .7s ease-out;

}
:global(.section > h2.headingAnimation::after) {
    width: 100%;
}

.section p {
    margin-bottom: 1rem;

    line-height: 1.6;
}

