.waves {
	position: absolute;
	bottom: 0;

	overflow: hidden;

    width: 100%;

	margin-inline: 0;
}

.waves > img {
    position: absolute;
    bottom: 0;

	width: 100%;
	object-fit: cover;
}


/* Home Waves' styles*/
.waves.header {height: 20vh;}

.header :nth-child(1) {
	z-index: 1;

	height: calc(100%);
}
.header :nth-child(2) {
	z-index: 2;

	height: calc(100% - 20%);
}
.header :nth-child(3) {
	z-index: 3;

	height: calc(100% - 30%);

	transform: scaleX(-1);
}
.header :nth-child(4) {
	z-index: 4;

	height: calc(100% - 40%);
}


/* Navbar waves' styles*/
.waves.navbar {height: 30vh;}

.navbar :nth-child(1) {
	z-index: 2;

	height: calc(100% - 20%);
	color: #e42200;
}
.navbar :nth-child(2) {
	z-index: 1;

	height: calc(100%);
}
.navbar :nth-child(3) {
	z-index: 4;

	height: calc(100% - 40%);
}
.navbar :nth-child(4) {
	z-index: 3;

	height: calc(100% - 30%);
}


/* Footer waves' styles*/
.waves.footer {height: 22vh;}

.footer :nth-child(1) {
	z-index: 1;

	height: calc(100%);
}
.footer :nth-child(2) {
	z-index: 2;

	height: calc(100% - 20%);
}
.footer :nth-child(3) {
	z-index: 3;

	height: calc(100% - 30%);
}
.footer :nth-child(4) {
	z-index: 4;

	height: calc(100% - 40%);
}



/* Media Queries */
@media screen and (min-width: 1024px) {
	.waves.header {height: 53vh}

	.waves.footer {height: 45vh;}
}