.app_wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}


body.home_bg {
    background-color: var(--bg-color-alt);
}
body.projects_bg {
    background-color: var(--bg-color);
}
body.contact_bg {
    background-color: var(--bg-color-alt);
}
body.notFound_bg {
    background: var(--bg-color-alt) linear-gradient(to bottom, rgb(0, 0, 15) 20%, var(--bg-color-alt)) fixed;
}
body.hidden {
    overflow: hidden;
}
