@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font-color: hsl(0, 0%, 87%);
    --font-color-alt: hsl(0, 0%, 50%);
    --bg-color: rgb(9, 25, 59);
    --bg-color-alt: rgb(5, 0, 48);

    --acc-color-1: hsl(0, 100%, 44%);
    --acc-color-1_hover: hsl(0, 100%, 35%);
    --acc-color-1_active: hsl(0, 100%, 27%);

    --acc-color-2: hsl(17, 100%, 50%);
    --acc-color-2_hover: hsl(17, 100%, 28%);
    --acc-color-2_active: hsl(17, 100%, 20%);

    --font-family: "Poppins";
}

* {
    box-sizing: border-box;

    padding: 0;
    margin: 0;

    font-family: var(--font-family), sans-serif;
    font-size: clamp(1.07rem, 4vw, 1.1rem);
}

::-webkit-scrollbar-thumb {
    background: var(--acc-color-2);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--acc-color-2_hover);
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-track-piece {
    background-color: transparent;
}

::selection {
    background-color: var(--acc-color-2);
    color: white;
}
::-moz-selection {
    background-color: var(--acc-color-2);
    color: white;
}

html,
body,
#root {
    height: 100vh;

    scroll-behavior: auto;

    scrollbar-width: thin;
    scrollbar-color: var(--acc-color-2) transparent;

    scroll-margin-top: 200px;

    color: var(--font-color);
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}



/* Media Queries */
@media screen and (min-width: 1440px) {
    * {
        font-size: clamp(1.2rem, 5vw, 1.3rem);
    }
}



/* Animations */
@media (prefers-reduced-motion: no-preference) {
    html,
    body,
    #root {
        scroll-behavior: smooth;
    }
}